.cardbox {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  background-color: white !important;
  margin-top: 5px !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: 0.2rem;
}
/* Default styles */
.TableContainer {
  max-height: 380px; /* Set a default max-height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .TableContainer {
    max-height: 300px; /* Adjust max-height for smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 576px) {
  .TableContainer {
    max-height: 200px; /* Adjust max-height for even smaller screens */
  }
}
/* Media query for medium-sized screens */
@media (max-width: 992px) {
  .TableContainer {
    max-height: 400px; /* Adjust max-height for medium-sized screens */
      }
}



