.line-space {
    margin-top: 6px
}

.page-title {
    /* margin-right: 20px; */
    font-weight: bold;
    letter-spacing: 0px;
    color: #1D1D1D;
    font-size: 16px !important;
    margin-bottom: 40px;
}

.login-container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 3%;

    /* animation: 1s ease-out 0s 1 slideInFromTop; */

}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.login-card {
    border-radius: 8px;
    padding: 25px 50px 82px 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 20px #0000001A;
    width: 400px;
}

.login-btn {
    display: flex;
    margin-top: 20px !important;
    border: 1px solid #2E89FF;
    border-radius: 6px;
}

.container-page {
    margin-left: 20px;
    display: grid;
    gap: 5px;
}

.forgot {
    font-size: 11px !important;
    cursor: pointer;
    text-decoration: underline;
    color: #2E89FF;
    font-weight: normal;
}

/* 
.forgot:hover {
    text-decoration: underline;
    color: #2E89FF;
} */

.fgtpwd {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.login-wrapper {
    /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
    /* background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%); */
    background: #F4F4F8 0% 0% no-repeat padding-box;
    height: 100vh;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-powered > img {
    height: 50px;
}

.footer-powered > div {
    position: relative;
    bottom: -22px;
}

.footer-copy {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -34px;
}

.footer-powered {
    display: flex;
    justify-content: end;
}
.login-header{
    padding: 27px 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #0000001A;
    opacity: 1;
}