.App {
  text-align: center;
}

.MuiInputLabel-root,.MuiMenuItem-root {
  font-size: 14px !important;
  line-height: 13.5px !important
}
.MuiSelect-select,p,.MuiInputBase-input{
  font-size: 14px !important;
  
}
.MuiInputBase-input{
  height: inherit !important;
}
.Mui-error{
  margin-left : 0 !important;

}

.MuiInputBase-input {
  padding: 9.5px 15px !important
}

input[type=file] {
  font-size: 14px !important;
  padding: 1px !important;
}

[type='color'] {
  width: 41px !important;
  height: 41px !important;
}
