.App {
  text-align: center;
}
div{
  font-size: 14px
}

* {
  font-family: "Avenir Next", sans-serif;
}

.MuiInputLabel-root, .MuiMenuItem-root, .MuiTypography-root {
  font-size: 14px !important;
  line-height: 13.5px !important
}

.MuiSelect-select, p, .MuiInputBase-input {
  font-size: 14px !important;

}

.MuiInputBase-input {
  height: inherit !important;
}

.Mui-error {
  margin-left: 0 !important;
}

.MuiInputBase-input {
  padding: 10.5px 15px 10.5px 15px !important
}

input[type=file] {
  font-size: 14px !important;
  padding: 1px !important;
}

[type='color'] {
  width: 41px !important;
  height: 41px !important;
}

button {
  font-size: 12px !important;
}

.MuiCheckbox-root.MuiSvgIcon-root {
  width: 0.8em !important;
}

.MuiCheckbox-root {
  padding: 2px 9px !important;
}

.Mui-checked {
  color: #5b78a6 !important;
}

/* .Mui-focused{
  color: aqua !important;
  border: #3ad35b !important;
}
.Mui-focused.MuiOutlinedInput-notchedOutline{
border-bottom: red !important;
} */
/* .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused{
  border: px red solid;
} */